<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Transaction Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      @for (p of pages; track p; let i = $index) {
      <ion-menu-toggle auto-hide="false">
        <ion-item class="border-solid-1 cursor-pointer radius-light" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-avatar slot="start"><img [src]="'https://picsum.photos/80/80?random=' + $index" alt="avatar" /></ion-avatar>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>
</ion-menu>
