<ion-menu side="end" menuId="user-menu" contentId="main-content" inhert>
  <ion-header>
    <ion-toolbar>
      <p class="bold text-center">User menu</p>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      @for (p of pages; track p; let i = $index) {
      <ion-menu-toggle auto-hide="false" menu="user-menu">
        <ion-item class="border-solid-light pointer radius-light" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="height: 60px; margin-bottom: 8px; display: flex;  align-items: center;">
          <ion-avatar slot="start"><img [src]="p.icon" style="border-radius: 0%;" /></ion-avatar>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>
</ion-menu>