<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="pointer" routerLink="/">
      <div class="text-center flex-row align-center justify-center">
        <p>Accounting App</p>
        <img src="../../../assets/icon/chevron-down-outline.svg" width="24" height="24">
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openUserMenu()">
        <img src="../../../assets/icon/person-outline.svg" width="24" height="24">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
