<ion-header>
  <ion-toolbar>
    <div class="flex-row space-between">
      <ion-button fill="clear">
        <img src="../../../assets/icon/menu-outline.svg" width="24" height="24" (click)="openTransactionMenu()">
      </ion-button>
      <ion-title>Menu</ion-title>
      <ion-button fill="clear">
        <img src="../../../assets/icon/person-outline.svg" width="24" height="24" (click)="openUserMenu()">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


  <!-- <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>First Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the first menu content.</ion-content>
  </ion-menu> -->

  

  <!-- <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the end menu content.</ion-content>
  </ion-menu> -->




  <!-- <ion-header>
  <ion-toolbar>
    @if (currentUser){
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end" (click)="openUserMenu()">
        <img src="../../../assets/icon/person-outline.svg" width="24" height="24">
        <ion-menu side="end" contentId="main-content" area-hidden="false">
          <app-user-menu></app-user-menu>
        </ion-menu>
      </ion-buttons>
    }


    <ion-title class="pointer title">
      @if (currentUser){
        <div class="select-container text-center flex-row align-center justify-center">
          <ion-select routerLink="/home" interface="popover" (ngModelChange)="onSelectChange($event)" [(ngModel)]="currentAccountId">
            @for (account of accounts; track $index) {
              <ion-select-option [value]="account.id">{{ account.name }}</ion-select-option>
            }
          </ion-select>
        </div>
      }
      @else {
        <p>Accounting App</p>
      }
        
    </ion-title>
    @if(currentUser){
      <ion-buttons slot="end" (click)="openTransactionMenu()">
        <ion-button (click)="openUserMenu()">
          <img src="../../../assets/icon/person-outline.svg" width="24" height="24">
        </ion-button>
      </ion-buttons>

      <ion-menu side="end" contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>End Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">This is the end menu content.</ion-content>
      </ion-menu>

      <ion-menu side="end" contentId="user-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>User</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item class="border-solid-light pointer radius-light" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" style="height: 60px; margin-bottom: 8px; display: flex;  align-items: center;">
                <ion-avatar slot="start"><img [src]="'https://picsum.photos/80/80?random=1' " alt="avatar" /></ion-avatar>
                <ion-label>title</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
    }
  </ion-toolbar>
</ion-header> -->