<ion-content class="ion-padding" [fullscreen]="true">

  <!-- <p-button (click)="GoToHistory()" class="text-150">&#60; Back</p-button> -->
  <div class="width-100 height-100 flex-column space-between">

    <p class="text-150 text-center margin-custom">{{transaction.name}}</p>


    <form [formGroup]="form" class="
      flex-column 
      width-100 
      align-end">

      <!----------- SetDate ---------->
        <div class="width-100 flex-row justify-end">
          <p-floatlabel variant="on" class="width-100">
            <p-datepicker [style]="{'width':'100%'}" formControlName="setDate" appendTo="body" inputId="setDate"
              showIcon [showTime]="true" inputId="calendar-24h" iconDisplay="input" />
            <label for="date">Set Date</label>
          </p-floatlabel>
        </div>

        <!----------- Repetition ---------->

        <div class="flex-row align-start width-100">
          <p-select formControlName="repetition" [options]="repetitions" optionLabel="name" optionValue="id"
            class="height-44px width-50 margin-top" />

          <!----------- EndDate ---------->

          <div class="width-100">
            <p-floatlabel variant="on" class="width-100">
              <p-datepicker [style]="{'width':'100%'}" formControlName="endDate" appendTo="body" inputId="endDate"
                showIcon iconDisplay="input" />
              <label for="endDate">Ending Date</label>
            </p-floatlabel>

            <!----------- EndDate Error ---------->

            @if (form.controls['repetition'].value != 1 && form.controls['endDate'].touched &&
            !form.controls['endDate'].value) {
            <p-message severity="error" variant="simple" size="small">Required</p-message>
            }
          </div>
        </div>

        @if (!isEditing) {
        <p-button (onClick)="change()">Change</p-button>
        }
        @else {
        <p-button (onClick)="send()">Send</p-button>
        }
    </form>

    <div style="margin-top: 20px;">
      <app-hisotry></app-hisotry>
    </div>

  </div>
</ion-content>