<p class="text-center bold margin-bottom-medium">Total : {{total}}</p>
<div class="height-custom border-custom">
  <p-table [value]="details" stripedRows scrollable="true" [scrollHeight]="height">
    <ng-template #header>
    </ng-template>
    <ng-template #body let-detail>
      <tr (click)="showDialog(detail)">
        <td>{{detail.transactionDate | date:'dd/mm/yy HH:mm' }}</td>
        <td>{{detail.amount}}</td>
        <td>{{detail.category.name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

@if (selectedDetail){
  <p-dialog header="Detail Information" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
      <span>{{ selectedDetail.transactionDate | date:'dd/MM/yy HH:mm' }}</span>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <span>{{ selectedDetail.amount }}€</span>
    </div>
      <div class="flex items-center gap-4 mb-8">
        <span>{{ selectedDetail.category.name }}</span>
      </div>
    
    <div class="flex items-center gap-4 mb-8">
      <span>{{ selectedDetail.transactionType.name }}</span>
    </div>
    <div class="flex items-center gap-4 mb-8">
      <textarea style="width: 100%; padding: 8px; border-color: gray; border-radius: 4px;">{{ selectedDetail.note }}</textarea>
    </div>
    <div class="flex justify-end gap-2">
    </div>
    <div>
      <p-button label="Change" />
      <p-button label="Delete" severity="danger"/>
    </div>
    <div>
      <p-button label="Close" severity="secondary" (click)="visible = false" />
    </div>
  </p-dialog>
}