<p class="text-center bold margin-bottom-medium">Total : {{total}}</p>
<div class="height-custom border-custom">
  <p-table [value]="details" stripedRows scrollable="true" [scrollHeight]="height">
    <ng-template #header>
    </ng-template>
    <ng-template #body let-detail>
      <tr (click)="showDialog(detail)">
        <td>{{detail.transactionDate | date:'dd/mm/yy HH:mm' }}</td>
        <td>{{detail.amount}}</td>
        <td>{{detail.category.name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

@if (selectedDetail){
<p-dialog header="Detail Information" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

  <form [formGroup]="form">

  <!----------- TransactionDate ---------->
  <div class="flex items-center gap-4 mb-4 width-100 flex-row justify-end">
    <p-floatlabel variant="on" class="width-100">
      <p-datepicker [style]="{'width':'100%'}" formControlName="transactionDate" appendTo="body"
        inputId="transactionDate" showIcon [showTime]="true" inputId="calendar-24h" iconDisplay="input" />
      <label for="date">Date</label>
    </p-floatlabel>
  </div>

  <!----------- Amount ---------->

  <div class="flex items-center gap-4 mb-4 width-100 flex-row justify-start align-start">
    <div class="flex-column width-100">
      <p-input-number formControlName="amount" id="amount" inputId="minmax" mode="decimal" [min]="0" [max]="max"
        placeholder="Amount" class="width-100 height-44px" />

      <!----------- Amount Error ---------->

      <!-- @if (form.controls['amount'].invalid && form.controls['amount'].touched) {
      <p-message severity="error" variant="simple" size="small">Required</p-message>
      } -->
    </div>
  </div>

  <!----------- TransactionType ---------->

  <div class="flex items-center gap-4 mb-8 width-100">
    <p-select formControlName="transactionTypeId" [options]="types" optionLabel="name" optionValue="id"
        placeholder="Transaction Type" class="width-100 height-44px" />

      <!----------- TransactionType Error ---------->

      <!-- @if (form.controls['transactionTypeId'].invalid && form.controls['transactionTypeId'].touched) {
      <p-message severity="error" variant="simple" size="small">Required</p-message>
      } -->
  </div>

  <!----------- Category ---------->

  <div class="flex items-center gap-4 mb-8 width-100">
    <p-select formControlName="categoryId" [options]="categories" optionLabel="name" optionValue="id"
        placeholder="Category" class="width-100 height-44px" />

      <!----------- Category Error ---------->

      <!-- @if (form.controls['categoryId'].invalid && form.controls['categoryId'].touched) {
      <p-message severity="error" variant="simple" size="small">Required</p-message>
      } -->
  </div>

  <!----------- Note ---------->

  <div class="flex items-center gap-4 mb-8">

    <p-floatlabel variant="on" class="width-100">
      <textarea formControlName="note" pTextarea id="over_label" rows="5" cols="30" style="resize: none"
        class="h-full width-100 custom"></textarea>
    </p-floatlabel>
  </div>

  <!----------- Buttons ---------->

  <div class="width-100 flex-row justify-end">
    <p-button label="Change" [style]="{'height': '40px', 'width': '90px'}" />
    <p-button label="Delete" severity="danger" [style]="{'height': '40px', 'width': '90px', 'margin-left': '8px'}" />
  </div>
  <div>
    <p-button label="Close" severity="secondary" (click)="visible = false" [style]="{'height': '40px', 'width': '90px'}" />
  </div>

</form>
</p-dialog>
}