<ion-content class="ion-padding">
  <form [formGroup]="form" class="flex-column height-100 width-100 space-between align-center">
    <p-floatlabel variant="on" class="width-100">
      <input pSize="large" pInputText id="name" [(ngModel)]="name" autocomplete="off" style="width: 100%; height: 50px;" />
      <label for="on_label">Name</label>
    </p-floatlabel>

    <div class="width-100 flex-row align-center justify-center height: 50px;">
      @if (isPositive) {
      <p-button icon="pi pi-plus" (onClick)="changePositiveNegative()" class="margin-right-light" />
      }
      @else {
      <p-button icon="pi pi-minus" (onClick)="changePositiveNegative()" class="margin-right-light" />
      }

      <p-input-number id="amount" [(ngModel)]="amount" inputId="minmax" mode="decimal" [min]="0" [max]="max"
        placeholder="0" class="width-100 height-50px" />
    </div>

    <p-floatlabel variant="on">
      <p-datepicker appendTo="body" [(ngModel)]="setDate" inputId="setDate" showIcon [showTime]="true" inputId="calendar-24h"
        iconDisplay="input" [defaultDate]="setDate" />
      <label for="date">Date</label>
    </p-floatlabel>

    <div class="flex-row">
      <p-select (onChange)="onChangeRepeat()" [options]="repetitions" optionLabel="name" [(ngModel)]="repetition"
        [placeholder]="repetition.name" class="height-50px width-50" />

      <p-datepicker [(ngModel)]="endDate" showIcon inputId="endDate" iconDisplay="input" [showOnFocus]="true"
        placeholder="Ending date" [disabled]="isOneTime" />
    </div>

    <p-select [options]="types" optionLabel="name" [(ngModel)]="transactionType" placeholder="Transaction type" class="width-100 height-50px" />

    <p-select [options]="categories" optionLabel="name" [(ngModel)]="category" placeholder="Select a category" class="width-100 height-50px" />

    <p-floatlabel variant="on" class="width-100">
      <textarea pTextarea id="over_label" [(ngModel)]="note" rows="5" cols="30" style="resize: none" class="h-full width-100"></textarea>
      <label for="on_label">Note</label>
  </p-floatlabel>

    <p-button label="Add" (onClick)="send()" />
  </form>

</ion-content>